<!doctype html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

  <form action="/filter" method="post">
    City: <select name="city">
        <option value=""></option>
      {{#city}}
        <option value={{.}}>{{.}}</option>
      {{/city}}
    </select>
    Color: <select name="color">
      <option value=""></option>
      {{#color}}
        <option value={{.}}>{{.}}</option>
      {{/color}}
    </select>
    Age: <select name="age">
      <option value=""></option>
      {{#age}}
      <option value={{.}}>{{.}}</option>
      {{/age}}
    </select>
    <input type="submit"></input>
  </form>
<table>
  <tr>
    <th>name</th>
    <th>age</th>
    <th>city</th>
    <th>url</th>
    <th>color</th>
  </tr>
  {{#data}}
  <tr>
    <td>{{name}}</td>
    <td>{{age}}</td>
    <td>{{city}}</td>
    <td>{{url}}</td>
    <td>{{color}}</td>
  </tr>
  {{/data}}
</table>
</body>
</html>
